<div class='reverse_links'>
<%= image_tag "audreypic.jpg", {height: 450} %>
  
  <p>In 2012, Audrey left medical school and cannonballed into the world of public media. Since then, she has spent time reporting in <a href='http://www.npr.org/templates/search/index.php?searchinput=audrey+carlsen'>Washington DC</a> and the <a href='http://www.kucb.org'>Aleutian Islands</a>, and is now cutting her teeth on news apps at <a href='http://www.seattletimes.com'><em>The Seattle Times</em></a>.
  
  <p>Audrey has been described as "a little bit crazy" and "not entirely hopeless."</p> 
  
  <p>She is currently based in Seattle, WA and hopes to one day live in a very small house with a very large bathtub.</p>
</div>