<div class='article'>
  <a href='http://projects.seattletimes.com/2015/seahawks-personality-quiz/'><%= image_tag "hawks_quiz.png", {width: 200} %>

  <div class='description'>
    <h3>Seahawks Personality Quiz</a></h3>
    <p>This Seahawks team has captured your imagination with great play and larger-than-life personalities. But which Seahawks player are you most like? Take our personality quiz and find out.</p>
  </div>
</div>

<div class='article'>
  <a href='http://projects.seattletimes.com/2014/pictures-of-the-year'><%= image_tag "poy.png", {width: 200} %>

  <div class='description'>
    <h3>2014 Pictures of the Year</a></h3>
    <p><em>Seattle Times</em> photographers share their images from 2014, from the Seahawks' Super Bowl victory to the tragic Oso mudslide.</p>
  </div>
</div>

<div class='article'>
  <a href='http://www.wdidw.com/'><%= image_tag "wdidw.png", {width: 200} %>

  <div class='description'>
    <h3>What Do I Do With...?</a></h3>
    <p>An app to help residents and businesses in King County find locations to recycle and responsibly dispose of unwanted materials.</p>
  </div>
</div>