<div class="apple_pagination">
  <%= will_paginate @posts %>
</div>

<div class='reverse_links'>
  <% @posts.reverse.each do |post| %>
      <h2 class='h2_blog'><%= (post.created_at - 8.hours) %></h2><br>
      <h1 class='h1_blog'><%= post.title %></h1>
      <%= post.content.html_safe %>
  <% end %>
</div>